#lc-rating-reminder {
    display: none;
    box-sizing: border-box;
    position: fixed;
    width: calc(286px - 2.25*16px);
    margin: 0 auto;
    z-index: 2147483640;
    background: #3fa770;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.2);
    border-radius: .5rem;
    padding: .75rem 2.5rem .75rem 1rem;
    color: #fff;
    font: 13px 'Lato', sans-serif !important;
}

#lc-rating-reminder img {
    float: left;
    border-radius: 8px;
    max-width: 2.5em;
    margin-right: 10px;
}

#lc-rating-reminder:before {
    content: "";
    height: 1.625rem;
    width: 2rem;
    position: absolute;
    top: 23px;
    left: 0;
    pointer-events: none;
    background-color: #3fa770;
    border-bottom-left-radius: .375rem;
    transform: skewY(-40deg);
    transform-origin: bottom right;
    z-index: -1;
}

#lc-rating-reminder-close {
    position: absolute;
    font-size: 24px;
    transform: rotate(45deg);
    top: -4px;
    right: 4px;
    cursor: pointer;
    opacity: 0.75;
}

#lc-rating-reminder.classic {
    right: calc(32px + 4.5*8px);
    bottom: calc(450px - 5.5*16px);
}

#lc-rating-reminder.modern {
    right: calc(32px + 3.5*8px);
    bottom: calc(450px - 7*16px);
}

#lc-rating-reminder.circle {
    right: calc(32px + 13.25*8px);
    bottom: calc(450px - 3*16px);
}

#lc-rating-reminder.smooth {
    right: calc(32px + 2.5*8px);
    bottom: calc(638px - 0*16px);
}

#lc-rating-reminder.smooth.left {
    right: calc( 268px + 3.5*16px );
    bottom: calc( 638px - 6.5*16px);
}

#lc-rating-reminder.circle.left {
    right: calc(268px + 9 * 16px);
    bottom: calc(450px - 8*16px);
}

#lc-rating-reminder.smooth.left:before, #lc-rating-reminder.circle.left:before {
    left: auto;
    top: 11px;
    right: 1px;
    border-bottom-left-radius: 0;
    border-top-right-radius: .375rem;
    transform: skewY(-45deg) rotate(45deg);
}

